In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
data = pd.read_csv('data_science_job.csv')

In [48]:
data.head(10)

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2022,Machine Learning Engineer in office,Analysis,EUR,186597,136086,US,MI,CT,Remote,DE,L
1,2020,Statistician (Remote),ML/AI,JPY,110630,67982,JP,EX,FL,Remote,IN,M
2,2022,Machine Learning Engineer,ML/AI,INR,61280,153309,UK,MI,CT,Hybrid,CN,L
3,2022,Data Analyst in office,ML/AI,JPY,154130,135242,DE,SE,FT,Hybrid,MX,L
4,2020,Statistician,Data Science,EUR,172312,35156,UK,MI,FT,In-person,UK,S
5,2020,Machine Learning Engineer,Engineering,JPY,36544,68280,CN,MI,FT,Hybrid,DE,M
6,2022,Data Analyst in office,Data Science,JPY,178404,105324,DE,EX,PT,Remote,DE,L
7,2021,Data Scientist (Remote),ML/AI,JPY,187908,90706,UK,EX,CT,Remote,JP,M
8,2022,Data Analyst,Unknown,USD,-44388,171043,UK,NaN,FL,In-person,DE,Unknown
9,2022,Statistician (Remote),Engineering,us dolars,31694,73408,DE,EN,CT,Remote,US,S

In [12]:
print(f"Shape of the dataset: {data.shape}")

Shape of the dataset: (5000, 12)

In [ ]:
#Questions and findings
#What is the most popular job title in each year?
#What Job title is paid the best?
#Whats the most popular work setting in the UK?
#Does company size effect pay?
#Average amount of money in data science?

In [ ]:
#What is the most popular job title in each year?
#Data analyst(remote) most popular in 2020
#Statistician most popular in 2021
#Data Analyst in office most popular in 2022

In [ ]:
#What Job title is paid the best?
#Machine Learning Engineers(Remote) are on a median salary of 123,566.0

In [ ]:
#Whats the most popular work setting in the UK
#The most popular work setting in the UK is working remotely

In [53]:
#Whats the most popular work setting in the UK?
UK = data[data['employee_residence'] == 'UK']
UK['work_setting'].mode()

0    Hybrid
Name: work_setting, dtype: object

In [29]:
#What is the most popular job title in each year?
print(data['work_year'].unique())
work_year = data[data['work_year'] == 2020]
print(work_year['job_title'].mode())
print(work_year['work_setting'].mode())
#Data analyst(remote) most popular in 2020

[2022 2020 2021]
0    Data Analyst  (Remote)
Name: job_title, dtype: object
0    Hybrid
Name: work_setting, dtype: object

In [25]:
work_year = data[data['work_year'] == 2021]
print(work_year['job_title'].mode())
print(work_year['work_setting'].mode())
# Statistician most popular in 2021

0    Statistician
Name: job_title, dtype: object
0    Remote
Name: work_setting, dtype: object

In [21]:
work_year = data[data['work_year'] == 2022]
print(work_year['job_title'].mode())
print(work_year['work_setting'].mode())
#Data Analyst in office most popular in 2022

0    Data Analyst  in office
Name: job_title, dtype: object
0    Hybrid
Name: work_setting, dtype: object

In [46]:
#What Job title is paid the best?
mean_salaries = (data.groupby('job_title')['salary_in_usd']
                 .median()
                 .round(2)
                 .reset_index()
                 .sort_values(by='salary_in_usd', ascending=False))

mean_salaries

                               job_title  salary_in_usd
10   Machine Learning Engineer  (Remote)       123566.0
12                        Statistician         123246.5
0                         Data Analyst         116700.0
14               Statistician  in office       115898.0
2                Data Analyst  in office       115839.0
4                Data Engineer  (Remote)       115589.5
8              Data Scientist  in office       115554.5
5               Data Engineer  in office       114493.5
13                Statistician  (Remote)       114164.0
6                       Data Scientist         111119.0
3                        Data Engineer         110808.0
1                 Data Analyst  (Remote)       110305.0
11  Machine Learning Engineer  in office       108649.0
7               Data Scientist  (Remote)       107092.0
9            Machine Learning Engineer         106454.5